<div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-4" style="margin-top: 15px;">
          <div 
            class="text-center bg-primary img-rounded kz-pad-20">
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <button 
                  type="button" 
                  class="btn btn-danger kz-btn"
                  (click)="clean()"
                >
                    C
                </button>
              </div>
              <div class="col-xs-9 col-md-9">
                <input 
                  type="text" 
                  class="form-control text-right kz-input-text"
                  id="display"
                  name="display" 
                  [value]="display"
                  readonly>
              </div>
            </div>
            <div class="row" *ngFor="let list of listBtnId, let mainId=index">
                <div class="col-xs-3 col-md-3" *ngFor="let item of list, let id = index">
                  <button 
                    type="button" 
                    class="btn kz-btn"
                    [ngClass]="{
                        'btn-light': [0, 1, 2].indexOf(id) != -1 && mainId != 3 || [0, 1].indexOf(id) != -1 && mainId == 3,
                        'btn-warning': [3].indexOf(id) != -1,
                        'btn-success': mainId == 3 && id == 2 
                    }"
                    (click)="selectAction(item)"
                    id="btn{{ item === '+' ? 'add' : item === '=' ? 'result' : item }}">{{ item }}
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
  